<head>

<style>
  img{
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

</head>

<!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <!--<ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>-->
            </ul>
            <img src="https://preview.ibb.co/b1Mzgc/FB603907_6447_4_F33_A2_F4_5_C838_CAA79_AD.jpg" width="96" height="64"></img>
            <p class="copyright text-muted">Copyright &copy; Gianini Manutenções 2018</p>
          </div>
        </div>
      </div>
    </footer>
