{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="../static/css/main.css">

<div class="my-row">
{% for product in products %}    
            
        <!-- Mini Post -->
        <div class="mini-product">
            <header>
                <h3><a href="about.html">{{product.name}}</a></h3>
                <time class="description" datetime="2015-10-19">{{product.description}}</time>
                <!-- <a href="#" class=""><img src="{% static 'images/avatar.jpg' %}" alt="" /></a> -->
            </header>
            <a href="about.html" class="image"><img
                    src="{{product.image}}"
                    alt="" /></a>  
        </div>

        <!-- Mini Post -->
        <div class="mini-product">
            <header>
                <h3><a href="about.html">{{product.name}}</a></h3>
                <time class="description" datetime="2015-10-19">{{product.description}}</time>
                <!-- <a href="#" class=""><img src="{% static 'images/avatar.jpg' %}" alt="" /></a> -->
            </header>
            <a href="about.html" class="image"><img
                    src="{{product.image}}"
                    alt="" /></a>  
        </div>

        <!-- Mini Post -->
        <div class="mini-product">
            <header>
                <h3><a href="about.html">{{product.name}}</a></h3>
                <time class="description" datetime="2015-10-19">{{product.description}}</time>
                <!-- <a href="#" class=""><img src="{% static 'images/avatar.jpg' %}" alt="" /></a> -->
            </header>
            <a href="about.html" class="image"><img
                    src="{{product.image}}"
                    alt="" /></a>  
        </div>
    
{% endfor %}
</div>